body {
    margin: 0;
    padding-top: 450px;
}
#Welcome {
    position: absolute;
    overflow: hidden;
    height: 450px; 
    color: #ffffff00;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(#eb60e0 0%, #69caf0 100%);
    display: table;
    width: 100%;
    height: 100%;
}
.line {
    height: 5px;
    width: 50px;
    background-color: rgb(255, 47, 47);
    margin: 25px auto;
}
h1 {
    color: rgb(209, 35, 23);
}
.profile {
    width: 250px;
    margin-bottom: 10px;
    border-radius: 100px;
}
p { 
    max-width: 500px;
    margin: 25px auto;
    font-size: 18px; 
    line-height: 1.2;
 }
 #bio {
    text-align: center;
    color: black;
    font-size: 45px;
}
.parallax-inner { 
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
     }